<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pool Appointment Confirmation</title>
    
  </head>
  <body style="background-color: gray;">
    <div >
        <div>     <!-- need to put in absolute path -->
            <a href = "http://127.0.0.1:8000/" ><h1>Kennedy Pools & Supplies</h1></a>
        </div>
    </div>
    </div>
      <div>
        <h1>Details About Your Upcoming Pool Appointment</h1>
        <div>
            <div>
                <h2>Type of Service: {{service}}</h2>
                <h2>Appointment Date: {{service_date}}</h2>
                <h2>Appointment Time: {{service_time}}</h2>
            </div>
            <div>
                <!-- need to put in absolute path -->
                <p>Need to<a href="http://127.0.0.1:8000/schedule/one-time-schedule/{{token}}"> reschedule </a>or<a href="http://127.0.0.1:8000/account/cancel/{{token}}"> cancel </a>service appointment</p>
            </div>
        </div>
      </div>
  </body>
</html>
