{%extends '/home.html'%}

{%block content%}
<div class="flex-col">
  <div>
    <h2 class="mb-5 text-center text-white text-3xl font-bold">Pool Cleanings</h2>
  </div>
  <div class="flex justify-center">
    <table class="min-w-full">
       <thead>
           <tr>
               <th
                   class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase text-center tracking-wider">
                   Service ID
               </th>
               <th
                   class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase text-center tracking-wider">
                   Pool Technician
               </th>
               <th
                   class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase text-center tracking-wider">
                   Service Date
               </th>
               <th
                   class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase text-center tracking-wider">
                   Service Performed
               </th>
           </tr>
       </thead>
       <tbody>
         
       </tbody>
    </table>
  </div>
</div>           
{%endblock%}
