<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kennedy Pools Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body class = 'bg-gray-500'>
    <nav class= 'bg-gray-800 flex justify-between items-center cursor-pointer p-2'>
      <div class="ml-8">
        <div class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold rounded px-1 py-3 h-12 w-12 rounded-full focus:outline-none focus:shadow-outline">
          <a href = "{{route ('home_dashboard')}}" >KP&S</a>
        </div>
       </div>
      <div class="flex">
        <div class="mr-8 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          <form class="" action="" method="post">
            {{ csrf_field }}
              <button class=""  type="submit" name="logout">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    {%block content%}
    <div class="mt-5 mb-5 text-center text-white text-3xl font-bold">
      <h1>Administrator Dashboard</h1>
    </div>
    <div class="flex justify-center">
      <div class="flex-col text-left">
        <ul class="text-xl mb-6">
          <a href="{{route ('appointment_setup')}}"><li class='mb-4 font-bold text-gray-800 hover:text-white'>Appointment Setup</li></a>
          <a href="{{route ('customer_schedules')}}"><li class='mb-4 font-bold text-gray-800 hover:text-white'>Customer Schedule</li></a>
          <a href="{{route ('customer_accounts')}}"><li class="mb-4 font-bold text-gray-800 hover:text-white">Customer Accounts</li></a>
          <a href="#"><li class="mb-4 font-bold text-gray-800 hover:text-white">Customer Cleaning History</li></a>
          <a href="#"><li class="mb-4 font-bold text-gray-800 hover:text-white">Product Usage</li></a>
          <a href="{{route ('pool_technicians')}}"><li class="mb-4 font-bold text-gray-800 hover:text-white">Pool Technicians</li></a>
          <a href="#"><li class="mb-4 font-bold text-gray-800 hover:text-white">Pool Tech Schedule</li></a>
        </ul>
      </div>
    </div>
    {%endblock%}
  <script src="/js/app.js"></script>
  </body>
</html>
