{%extends "/dashboard/admin_dashboard.html"%}

{%block content%}
<div class="flex-col">
    <div>
        <h2 class="mb-5 text-center text-white text-3xl font-bold">Customer Schedules</h2>
    </div>
    <div class="flex justify-center">
        <table class="min-w-full">
            <thead>
                <tr>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                      ID
                  </th>
                  <!-- <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Schedule_ID
                  </th> -->
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Customer Name
                  </th>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Customer Address
                  </th>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Type of Service
                  </th>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Service Date
                  </th>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Service Time
                  </th>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Service State
                  </th>
                  <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Pool Technician
                  </th>
                  <!-- <th
                      class="px-5 py-3 border-b-2 border-gray-400 bg-gray-100 text-left text-lg font-semibold text-gray-700 uppercase text-center tracking-wider">
                        Daytime
                  </th> -->
                </tr>
            </thead>
            <tbody>
                {%for schedule in customer_schedules%}
                    <tr class="bg-gray-100 border-b-2 border-gray-400">
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.id}}</td>
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.customer.firstname + ' ' + schedule.customer.lastname}}</td>
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.customer.address}}</td>
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.service}}</td>
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.service_date}}</td>
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.service_time}}</td>
                        <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.service_state}}</td>
                        <!-- <td class='px-3 py-5 font-semibold text-gray-600 text-base text-center'>{{schedule.daytime}}</td>  -->
                    </tr>
                {%endfor%}
            </tbody>

        </table>
    </div>
</div>

{%endblock%}